.skillTiles {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    

}
.skill:hover {
    transform: scale(1.2);
}

.skill {
    display: flex;
    width: 80px;
    height: 80px;
    border: solid black 1px;
    margin: 10px;
    align-items: center; 
    justify-content: center;
    box-shadow: 3px 3px lightgrey;
    background-color: rgb(196, 239, 205);
}